
body, html {
  /* height: 100%; */
  margin: 0;
}

.navbar{
  width:100%;
  justify-content: center;
  align-items: center;
}

.date {
  text-align: center;
}

ul > li {
  justify-items: space-between;
  display: inline;
  padding: 1em;
  float: right;
}

img {
  width: 100vw;
}

.joke-box {
  justify-content: center;
  border: solid;
  height: 45vh;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 1.5em;
}


